@font-face {
    font-family: 'Pacifico';
    src: local('Pacifico Regular'), local('Pacifico-Regular'),
        url('../fonts/9119-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Medium';
    src: local(''),
        url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Regular';
    src: local('HelveticaNeue-Regular'),
        url('../fonts/HelveticaNeue-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyritalic';
    src: url('../fonts/ofont.ru_helvetica_neue-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
        url('../fonts/raleway-v13-latin-600.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Bold'), local('Raleway-Bold'),
        url('../fonts/raleway-v13-latin-700.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
}

/* ALL */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: #404040;
    background-color: #fff;
}

/* --------------------------------styles for all text */







q {
    font-family: 'helveticaneuecyritalic';
    font-size: 1.125rem;
    line-height: 30px;
    color: #848484;
}

b {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 20px;
    color: #2e2e2e;
}

.contact-title {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 24px;
    color: #000000;
}

.contact-note {
    font-family: 'HelveticaNeue-Regular';
    font-size: 1rem;
    line-height: 26px;
    color: #848484;
}

.footer-nav li a {
    font-family: 'HelveticaNeue-Regular';
    font-size: 1rem;
    line-height: 26px;
    color: #848484;
}

/* -----------------------------wrapper for all page */

.wrapper {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.container {
    width: 73.75%;
    margin: 0 auto;
}

/* ------------------------------------links styles */

/* .flex a, */
/* .social-btn, */
.footer-nav a,
.main-nav ul a,
.feature-item a {
    display: block;
    text-decoration: none;
}

/* -------------------------------styles for lists */
.main-nav ul,
.features ul,
.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* ----------------------------styles for lists item */
.operation-sistems,
.footer-nav li {
    display: inline-block;
    vertical-align: middle;
}

.main-nav ul {
    display: flex;
    margin-left: 0.65%;
}

/* --HEADER START-- */

header {
    background-color: #2ecc71;
    padding-top: 10px;
}

.banner {
    background-color: #080425;
    background: url('../images/banner-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container-banner {
    margin-left: 20.4375%;
    width: 29.0625%;
    padding-top: 11.65%;
    padding-bottom: 11.09%;
    display: flex;
    flex-direction: column;
}

.container-banner h1 {
    margin: 0;
    padding-bottom: 15.5%;
    font-family: 'Pacifico';
    font-size: 3.7rem;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #fff;
}

.container-banner h1 span {
    color: #2ecc71;
}

.container-banner p {
    font-family: 'HelveticaNeueCyr-Medium';
    font-size: 1.5rem;
    line-height: 36px;
    color: #fff;
    padding: 0 0 4.7311% 0.431%;
    margin: 0;
}

.main-nav {
    margin: 0;
}

.operation-sistems,
.operation-sistems a {
    border-radius: 50%;
    width: 51px;
    height: 51px;
}

.operation-sistems {
    background-color: #38251b;
    opacity: .7;
    margin-right: 3.8%;
}

.operation-sistems:hover {
    background: #2ecc71;
    opacity: 1;
}

.apple {
    background: url('../images/sprits/spritesheet.png')no-repeat -84px -14px;
}

.android {
    background: url('../images/sprits/spritesheet.png')no-repeat -11px -12px;
}

.windows {
    background: url('../images/sprits/spritesheet.png')no-repeat -159px -12px;
}

@media only screen and (max-width: 1024px) {

    .container-banner {
        margin-left: 10%;
        width: 39%;
        padding-top: 10%;
    }
}

@media only screen and (max-width: 375px) {

    .banner {
        height: calc(100vh - 10px);
        background-position: 70% 100%;
    }

    .container-banner {
        margin: 0 auto;
        width: 95%;
        padding-top: 25%;
        padding-bottom: 0;
    }

    .container-banner h1 {
        margin: 0;
        text-align: center;
        padding-bottom: 35%;
        font-size: 6rem;
    }

    .container-banner p {
        text-align: center;
        padding-bottom: 45%;
        font-size: 2rem;
        line-height: 1.5em;
    }

    .main-nav ul {
        justify-content: center;
    }
}

/* --HEADER END-- */


/* --STYLE FOR MAIN CONTENT START-- */

/* NAVIGATION START */

.feature-item {
    width: 26.75%;
    float: left;
    padding: 5.042% 0 4.6184% 0;
}

.feature-item:not(:last-child) {
    margin-right: 9.75%;
}

.features ul {
    display: flex;
}

.feature-item-icon {
    margin: 0 auto;
}

.nav-title {
    margin: 0;
    padding: 9% 0 7.3%;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1.37rem;
    line-height: 18px;
    color: #222222;
    text-align: center;
}

.nav-title-note {
    margin: 0;
    padding: 0;
    font-family: 'HelveticaNeue-Regular';
    font-size: 1rem;
    line-height: 26px;
    color: #848484;
    text-align: center;
}

.feature-item-icon,
.feature-item-icon>div {
    width: 99px;
    height: 99px;
    border-radius: 50%;
}

.feature-item-icon div {
    background-color: #2ecc71;
}

.gear {
    background: url('../images/sprits/spritesheet2.png')no-repeat -7px -7px;
}

.star {
    background: url('../images/sprits/spritesheet2.png')no-repeat -239.5px -11px;
}

.planet {
    background: url('../images/sprits/spritesheet2.png')no-repeat -123px -8px;
}

@media only screen and (max-width: 1121px) {
    .container {
        width: 95%;
    }

    .feature-item:not(:last-child) {
        margin-right: 0;
    }

    .features ul {
        justify-content: space-around;
    }

    .feature-item h2 {
        font-size: 1.2rem;
    }

    .feature-item p {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 375px) {
    .features ul {
        flex-direction: column;
    }

    .feature-item {
        width: auto;
        margin: 0;
        padding: 10% 20% 0;
    }

    .feature-item:last-of-type {
        padding-bottom: 10%;
    }
}

/* NAVIGATION END */

/* FORM AND VIDEO START */

.form-video-block {
    background-color: #e3e3e3;
    padding: 3.6% 0 3.5%;
}

.form-section {
    float: left;
    width: 46.10%;
    margin-right: 11.5%;
    display: flex;
    flex-direction: column;
    /*! justify-content: space-between; */
}

.video-section {
    float: right;
    width: 42.372%;
}

.form-video {
    display: flex;
}

.form-title {
    padding-bottom: 4.4%;
    margin: 0;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 18px;
    color: #222222;
}

.form-title-note {
    padding-bottom: 3.865%;
    margin: 0;
    font-family: 'HelveticaNeue-Regular';
    font-size: 1rem;
    line-height: 26px;
    color: #848484;
}

.wrap-input {
    width: auto;
    display: flex;
}

.wrap-input input {
    display: inline-block;
    vertical-align: middle;
}


input[type="email"] {
    font-family: 'HelveticaNeue-Regular';
    font-size: 1.125rem;
    line-height: 18px;
    color: #848484;
    width: 56%;
    padding: 3.865% 4.233% 3.129%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #c8c8c8;
}


input[type="submit"] {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 18px;
    color: #ffffff;
    width: 26.320%;
    padding: 3.681% 0.920%;
    background-color: #2ecc71;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
}

.thumb-wrap {
    position: relative;
    padding-bottom: 56.25%;
    /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    border-radius: 10px;
}

.thumb-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1024px) {
    .form-video {
        width: 90%;
    }

    .form-section {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 1000px) {
    .form-title-note {
        font-size: 0.9rem;
    }

    .form-video {
        align-items: center;
    }

    input[type="email"] {
        width: 70%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    input[type="submit"] {
        width: 30%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

}

@media only screen and (max-width: 733px) {
    .form-video {
        flex-direction: column;
    }

    .form-section {

        width: auto;
        margin-right: 0;
        padding-bottom: 5%;
    }

    .form-title {
        margin: 0 auto;
    }

    .form-title-note {
        text-align: center;
    }

    .video-section {
        width: calc(100vw - 40px);
    }
}

/* FORM AND VIDEO END */

/* BLOCK SOCIAL START */

.social {
    padding: 3.25% 0;
    /*! height: 466px; */
    padding: 33.2667px 0;
}

.social p {
    width: 70.4%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.social p:first-of-type {
    padding-bottom: 1.5%;
    padding-bottom: 16.7px;
}

.social p:nth-of-type(2) {
    /*! padding-bottom: 1.949%; */
    width: 13.559%;
    margin-left: 42.627%;
    padding-bottom: 22.9833px;
}

.social p:nth-of-type(3) {
    /*! padding-bottom: 1.779%; */
    padding-bottom: 20.9833px;
}

.flex {
    text-align: center;
    width: 98.8%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portrait {
    margin-left: 5px;
}

.portrait {
    position: relative;
    z-index: 102;
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: inline-block;
    min-width: 50px;
}

.portrait:before {
    position: absolute;
    display: none;
    content: "";
    z-index: 101;
    width: 50px;
    height: 50px;
    background-color: rgba(102, 153, 102, .6);
}

.portrait:hover:before {
    display: block;
}

.portrait img {
    position: absolute;
    width: auto;
    height: auto;
}

.flex .portrait:first-of-type img {
    top: 1px;
    left: -53px;
}

.flex .portrait:nth-of-type(2) img {
    top: -42px;
    left: -92px;
}

.flex .portrait:nth-of-type(3) img {
    top: -13px;
    left: -18px;
}

.flex .portrait:nth-of-type(4) img {
    top: -22px;
    left: -50px;
}

.flex .portrait:nth-of-type(5) img {
    top: -34px;
    left: -93px;
}

.flex .portrait:nth-of-type(6) img {
    top: -9px;
    left: -29px;
}

.flex .portrait:nth-of-type(7) img {
    top: -14px;
    left: -92px;
}

.flex .portrait:nth-of-type(8) img {
    top: -7px;
    left: -87px;
}

.flex .portrait:nth-of-type(9) img {
    top: -4px;
    left: -62px;
}

.flex .portrait:nth-of-type(10) img {
    top: -13px;
    left: -102px;
}

.flex .portrait:nth-of-type(11) img {
    top: -6px;
    left: -85px;
}

.flex .portrait:nth-of-type(12) img {
    top: -39px;
    left: -79px;
}

.flex .portrait:nth-of-type(13) img {
    top: -35px;
    left: -26px;
}

.flex .portrait:nth-of-type(14) img {
    top: -31px;
    left: -101px;
}

.flex .portrait:nth-of-type(15) img {
    top: -14px;
    left: -20px;
}

.flex .portrait:nth-of-type(16) img {
    top: -15px;
    left: -10px;
}

.flex .portrait:nth-of-type(17) img {
    top: -11px;
    left: -26px;
}

.flex .portrait:nth-of-type(18) img {
    top: -16px;
    left: -27px;
}

.flex .portrait:nth-of-type(19) img {
    top: -30px;
    left: -25px;
}

.flex .portrait:nth-of-type(20) img {
    top: -25px;
    left: -31px;
}

.flex .portrait:last-of-type img {
    top: 0px;
    left: -14px;
}

.contact-title {
    text-align: center;
    margin: 0;
    /*! padding: 4.83% 0 1.4406%; */
    /*! padding-bottom: 14px; */
    /*! padding-top: 46.9833px; */
    padding: 14px 0 46.9833px;
}

.social-block-btn {
    display: flex;
    justify-content: center;
    margin-right: -1.101%;
    /*! padding-bottom: 1.016%; */
    text-align: center;
    padding-bottom: 11.9833px;
}

.social-btn:before {
    position: absolute;
    z-index: 3;
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.social-btn {
    position: relative;
    z-index: 1;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #d4d4d4;
    margin-right: 10px;
    display: inline-block;
}

.social-btn:after {
    position: absolute;
    z-index: 2;
    content: "";
    display: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #62d995;
}

.social-btn:hover:after {
    display: block;
}

.social-btn:first-of-type:before {
    background: url("../images/sprits/spritesheet3.png")no-repeat -93px -2px;
}

.social-btn:nth-of-type(2):before {
    background: url("../images/sprits/spritesheet3.png")no-repeat -2px -5px;
}

.social-btn:nth-of-type(3):before {
    background: url("../images/sprits/spritesheet3.png")no-repeat -53px -55px;
}

.social-btn:nth-of-type(4):before {
    background: url("../images/sprits/spritesheet3.png")no-repeat -41px -5px;
}

.social-btn:nth-of-type(5):before {
    background: url("../images/sprits/spritesheet3.png")no-repeat -5px -52px;
}

.social-btn:last-of-type:before {
    background: url("../images/sprits/spritesheet3.png")no-repeat -102px -52px;
}

@media only screen and (max-width: 1024px) {
    .social p:nth-of-type(2) {
        width: 100%;
        margin: 0 auto;
    }

    .social p:first-of-type {
        width: auto;
    }
}

@media only screen and (max-width: 667px) {
    .social p {
        width: 100%;
    }
}

/* BLOCK SOCIAL END */

/* --STYLE FOR MAIN CONTENT END-- */


/* FOOTER START*/

footer {
    background-color: #e3e3e3;
}

.footer-nav {
    /*! width: 45.93%; */
    margin: 0 auto;
    padding: 4.49% 0 4.296%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer-nav li:not(:last-of-type) {
    margin-right: 3%;
}

@media only screen and (max-width: 1440px) {
    .footer-nav {
        justify-content: center;
    }
}

@media only screen and (max-width: 667px) {
    .footer-nav li a {
        font-size: 0.8rem;
    }

    .footer-nav {
        padding: 30px 0 25px;
        flex-wrap: wrap;
    }
}